<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Game Menu</title>

    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/invites.css}"/>
    <link rel="stylesheet" th:href="@{/css/popup.css}"/>
    <link rel="stylesheet" th:href="@{/css/gamePage.css}"/>

    <style th:inline="text">
        body {
            position: relative;
        }

        body::before {
            content: "";
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: url([[@{/img/GamePageBackground.jpg}]]) no-repeat center center fixed;
            filter: brightness(80%);
            z-index: -1;
        }
    </style>
</head>

<body>

    <header class="header">
        <div class="navLeftSide">
            <a th:href="@{'/'}" class="homeContainer" id="homeButton">
                <img class="logo" id="homeLogo" th:src="@{/img/HomeLogo.svg}" alt="">
                <h2 id="title">Spiderweb game</h2>
            </a>
        </div>

        <div class="navRightSide">
            <button class="inv-button" onclick="openPopUp('invContainer')">
                <img th:src="@{/img/navbarInviteLogo.svg}">
                <span th:if="${invCount != 0}" th:text="${invCount}" class="inv-count"></span>
            </button>
            <a id="login" class="profile" th:href="@{/profile}">
                <h3 class="username" th:text="${username}"></h3>
                <img class="logo" id="playerLogo" th:src="@{/img/LoginLogo.svg}" alt="">
            </a>
        </div>
    </header>

    <div id="invContainer" class="invites closed">
        <button id="closeInvContainerButton" class="button" onclick="closePopUp('invContainer')">Close</button>
        <h3 th:if="${invCount == 0}" class="invMessage">You do not have any invites</h3>
        <ul>
            <li th:each="inviter : ${invites}">
                <div class="row">
                    <h3 class="invMessage" th:text="${inviter} + '  '"></h3>
                    <h3 class="invMessage">invited you to play</h3>
                    <form action="/lobby/join" method="post">
                        <input type="hidden" name="inviterName" th:value="${inviter}" />
                        <button class="button" type="submit">Join</button>
                    </form> 
                </div>                     
            </li>
        </ul>
    </div>

    <div class="menu" id="gameModeMain">
        <div class="row">
            <a type="button" class="button" id="pvp" th:href="@{/lobby}">Play against a friend</a>
        </div>
        <div class="row">
            <a type="button" class="button" id="pvcomputer" onclick="openPopUp('playVsComputer'); closePopUp('gameModeMain');">Play against computer</a>
        </div>
        <div class="row">
            <a th:href="@{'/'}" type="button" class="button" id="back">Back</a>
        </div>   
    </div>

    <div class="popup closed" id="playVsComputer">
        <a th:href="@{/game/pvs}" type="button" class="button" id="pvs">Play vs Spider</a>
        <a th:href="@{/game/pvf}" type="button" class="button" id="pvf">Play vs Fly</a>
        <a type="button" class="button" id="back" onclick="closePopUp('playVsComputer'); openPopUp('gameModeMain');">Back</a>
    </div>


    <script th:src="@{/js/gamePage.js}"></script>
    <script th:src="@{/js/popup.js}"></script>
</body>
</html>