body {
    background-color: #00116e;
    background-size: cover;
    background-position: center;

    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    margin: 0 auto;
    border: 1px solid aliceblue;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: fit-content;
}

.container .option {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border: 1px solid aliceblue;
    border-radius: 20px;
    backdrop-filter: brightness(60%) blur(5px);
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.container .option h2 {
    font-family: Franklin Gothic;
    color: aliceblue;
}

.container .option:hover {
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
        0 0 100px #008cff;
}

a {
    cursor: pointer;
    text-decoration: none;
}