<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">

    <style th:inline="text">
        body {
            background: url([[@{/img/main/background.png}]]) no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="title">Login page</h1>
        <form class="login-form" action="/login" method="post">
            <div class="alert error" th:if="${param.error}">Invalid username or password</div>
            <div class="alert logout" th:if="${param.logout}">You have been logged out</div>

            <div class="data">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="input" placeholder="Username" autofocus="autofocus">
            </div>
            <div class="data">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="input" placeholder="Password">
            </div>

            <input type="submit" id="login-submit" name="login-submit" class="button" value="Log In">

        </form>

        <div class="registerBox">
            <span>or <a th:href="@{/register}">create an account</a></span>
        </div>
    </div>
</body>
</html>
