<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">

    <style th:inline="text">
        body {
            background: url([[@{/img/main/background.png}]]) no-repeat center center fixed;
            background-size: cover;
        }
    </style>

</head>

<body>
    <div class="container">

        <div th:if="${param.success}">
            <div class="alert alert-info">You've successfully registered</div>
        </div>

        <h1>Registration</h1>

        <form th:action="@{/register}" method="post" th:object="${user}">
            <div class="data">
                <label for="username">Username:</label>
                <input class="input" type="text" id="username" th:name="username" required>
            </div>
            
            <div class="data">
                <label for="email">Email:</label>
                <input class="input" type="email" id="email" th:name="email" required>
            </div>

            <div class="data">
                <label for="password">Password:</label>
                <input class="input" type="password" id="password" th:name="password" required>
            </div>
            
            <div class="data">
                <label for="firstName">First Name:</label>
                <input class="input" type="text" id="firstName" th:name="firstName" required>
            </div>

            <div class="data">
                <label for="lastName">Last Name:</label>
                <input class="input" type="text" id="lastName" th:name="lastName" required>
            </div>                

            <div class="loginBox">
                <button type="submit" class="button">Register</button>
                <span> Already registered? <a href="/" th:href="@{/login}">Login here</a> </span>
            </div>

        </form>
    </div>
</body>
</html>