<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Add new friend</title>
    
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/invites.css}"/>
    <link rel="stylesheet" th:href="@{/css/popup.css}"/>
    <link rel="stylesheet" th:href="@{/css/addFriend.css}"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!--    end libs for stomp and sockjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    
    <style th:inline="text">
        body {
            background: url([[@{/img/main/background.png}]]) no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <nav th:replace="navbar :: navbar"></nav>

    <div class="container">
        <h2>Add Friend</h2>
        <form action="#" th:action="@{/friends/add}" method="post">

            <label for="friend">Send a friend invitation:</label>
            <input class="input" type="text" id="friend" name="invited" required><br><br>
            
            <button class="button" type="submit">Add Friend</button>
        </form>
    </div>

    <div th:if="${param.userNotFound}" class="response">
        <h2>Couldn't find any user by this username</h2>
    </div>

    <script th:src="@{/js/popup.js}"></script>
    
    
</body>

</html>