<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Friend list</title>
    
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/invites.css}"/>
    <link rel="stylesheet" th:href="@{/css/popup.css}"/>
    <link rel="stylesheet" th:href="@{/css/scoreboard.css}"/>
    <style th:inline="text">
        body {
            background: url([[@{/img/HomePageBackground4k.jpg}]]) no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <header class="header">
        <div class="navLeftSide">
            <a th:href="@{'/'}" class="homeContainer" id="homeButton">
                <img class="logo" id="homeLogo" th:src="@{/img/HomeLogo.svg}" alt="">
                <h2 id="title">Spiderweb game</h2>
            </a>
        </div>

        <div class="navRightSide">
            <button class="inv-button" onclick="openPopUp('invContainer')">
                <img th:src="@{/img/navbarInviteLogo.svg}">
                <span th:if="${invCount != 0}" th:text="${invCount}" class="inv-count"></span>
            </button>
            <a id="login" class="profile" th:href="@{/profile}">
                <h3 class="username" th:text="${username}"></h3>
                <img class="logo" id="playerLogo" th:src="@{/img/LoginLogo.svg}" alt="">
            </a>
        </div>
    </header>

    <div id="invContainer" class="invites closed">
        <button id="closeInvContainerButton" class="button" onclick="closePopUp('invContainer')">Close</button>
        <h3 th:if="${invCount == 0}" class="invMessage">You do not have any invites</h3>
        <ul>
            <li th:each="inviter : ${invites}">
                <div class="row">
                    <h3 class="invMessage" th:text="${inviter} + '  '"></h3>
                    <h3 class="invMessage">invited you to play</h3>
                    <form action="/lobby/join" method="post">
                        <input type="hidden" name="inviterName" th:value="${inviter}" />
                        <button class="button" type="submit">Join</button>
                    </form> 
                </div>                     
            </li>
        </ul>
    </div>


    <div th:if="${success}" class="container">
        <h2 class="title">Friend list</h2>

        <table>
            <p class="friendCount">Total Friends: <span th:text="${count}"></span></p>
            <a class="button" th:href="@{'/friends/add'}">
                Add new friend
            </a>
            <thead>
                <tr>
                    <th>Username</th>               
                </tr>
            </thead>
            <tbody>
                <tr th:each="friend : ${friends}">
                    <td>
                        <a th:href="@{'/profile/' + ${friend}}" th:text="${friend}"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>

    <script th:src="@{/js/popup.js}"></script>
    
</body>
</html>