<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Friend list</title>

    <link rel="stylesheet" th:href="@{/css/user/friendlist.css}"/>

    <script th:replace="init :: init"></script>

</head>
<body>
    <nav th:replace="navbar :: navbar"></nav>

    <div class="main-container">
        <section class="friendlist-section">
            <h2 class="title">Friend list</h2>
            <p th:text="'Total: ' + ${dto.friends.size}"></p>
            <ul id="friend-list">
                <li th:each="friend : ${dto.friends}">
                    <a th:href="@{'/profile/' + ${friend.username}}">
                        <div class="image-container">
                            <img th:src="@{'/img/avatar/' + ${friend.avatar} + '.png'}"/>
                        </div>
                        <span th:text="${friend.username}"></span>
                    </a>    
                </li>
                <li th:if="${dto.friends.size == 0}">You do not have any friends</li>
            </ul>
        </section>

        <section class="search-section">
            <div class="head">
                <h2>Find new friends</h2>
                <div class="search">
                    <input id="query" type="text" placeholder="search by username..." oninput="updateUserSearchList()" onchange="updateUserSearchList()">
                </div>
            </div>
            <ul id="user-list">
                
            </ul>
        </section>
    </div>


    <script>
        async function updateUserSearchList() {
            const query = document.getElementById('query').value;
            
            const users = await searchUsers();
            const userList = document.getElementById('user-list');
            userList.innerHTML = '';

            if (users.length == 0) {
                var h3 = document.createElement('h3');
                h3.innerText = 'No user found';
                userList.appendChild(h3);
            }
            
            for (var i = 0; i < users.length; i++) {
                var li = document.createElement('li');
                li.innerHTML = `
                    <div class="player-data">
                        <div class="image-container">
                            <img src="/img/avatar/${users[i].avatar}.png">
                        </div>
                        <span>${users[i].username}</span>
                    </div>
                    <div class="search-list-buttons">
                        <a href="/profile/${users[i].username}">
                            <img src="/img/player/profile_logo_30px.svg" alt="visit profile">
                        </a>
                        <a onclick="sendFriendRequest('${users[i].username}')">
                            <img src="/img/player/add_button.svg" alt="add as friend">
                        </a>
                    </div>
                `;
                userList.appendChild(li);
            }
        }

        async function searchUsers() {
            const query = document.getElementById('query').value;
            const response = await fetch('/users/search?query=' + query.toString());
            if (!response.ok) {
                throw new Error ('response is not ok. status: ' + status);
            }
            const data = await response.json();
            console.log('searchdata: ', data);
            const unaddedUsers = await getUnaddedUsers();
            let userList = [];
            let index = 0;

            for (var i = 0; i < data.length; i++) {
                for (var j = 0; j < unaddedUsers.length; j++) {
                    if (data[i].username == unaddedUsers[j].username) {
                        userList[index] = data[i];
                        index++;
                        break;
                    }
                }
            }

            console.log('userlist: ', userList);
            return userList;
        }

        async function getUnaddedUsers() {
            const response = await fetch('/users/friends/show-unadded-players');
            if (!response.ok) {
                throw new Error ('response is not ok. status: ' + status);
            }
            const data = await response.json();
            return data;
        }

        async function sendFriendRequest(username) {
            try {
                await fetch('/friends/add?invited=' + username);
                await updateUserSearchList();
            } catch (error) {
                console.error('Error sending friend request:', error);
            }
        }

        updateUserSearchList();
    </script>
</body>
</html>