<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Profile</title>

    <link rel="stylesheet" th:href="@{/css/user/profile.css}"/>

    <script th:replace="init :: init"></script>
</head>
<body>
<nav th:replace="navbar :: navbar"></nav>

<div class="main-container">
    <section class="header">
        <div class="image-container">
            <img th:src="@{'/img/avatar/' + ${profile.avatar} + '.png'}">
        </div>
        <div class="player-introduction">
            <h1 id="profile-name" class="profile-name" th:text="${profile.username}"></h1>
            <p class="profile-description" th:text="${profile.description}"></p>
        </div>
        <div id="invitation" class="invitation"></div>
    </section>

    <section class="profile-content">

        <section class="player-game-data">
            <div class="game">
                <div class="image-container">
                    <img th:src="@{/img/fly_in_the_web/home_background.jpg}"/>
                </div>
                <div class="game-data">
                    <h2>Fly in the web</h2>
                    <h3 th:text="'Games played: ' + ${profile.fitwGamesPlayed}"></h3>
                    <h3 th:text="'Games won: ' + ${profile.fitwGamesWon}"></h3>
                    <h3 th:text="'Steps made: ' + ${profile.fitwStepsMade}"></h3>
                </div>
            </div>
            <div class="game">
                <div class="image-container">
                    <img th:src="@{/img/tic_tac_toe/TicTacToe_Icon.jpeg}"/>
                </div>
                <div class="game-data">
                    <h2>Tic-Tac-Toe</h2>
                    <h3 th:text="'Games played: ' + ${profile.tictactoeGamesPlayed}"></h3>
                    <h3 th:text="'Games won: ' + ${profile.tictactoeGamesWon}"></h3>
                    <h3 th:text="'Moves done: ' + ${profile.tictactoeMovesDone}"></h3>
                </div>
            </div>
        </section>

        <section class="friend-container">
            <ul class="friend-list">
                <h3>Friends</h3>
                <li th:each="friend : ${profile.friends}">
                    <a class="item" th:href="@{/profile/{friend}(friend=${friend.username})}">
                        <div class="image-container">
                            <img th:src="@{'/img/avatar/' + ${friend.avatar} + '.png'}"/>
                        </div>
                        <span th:text="${friend.username}"></span>
                    </a>
                </li>
            </ul>
        </section>

    </section>

    <script>
        async function checkFriendStatus() {
            try {
                const response = await fetch('/friends/is-friend?user=' + document.getElementById('profile-name').textContent);
                if (!response.ok) {
                    throw new Error('HTTP error ' + response.status);
                }
                const data = await response.json();
                return data;
            } catch (error) {
                console.error('Error checking friend status:', error);
                return false;
            }
        }

        async function checkFriendRequestStatus() {
            try {
                const response = await fetch('/friends/is-friend-request-sent?user=' + document.getElementById('profile-name').textContent);
                if (!response.ok) {
                    throw new Error('HTTP error ' + response.status);
                }
                const data = await response.json();
                return data;
            } catch (error) {
                console.error('Error checking friend request status:', error);
                return false;
            }
        }

        async function sendFriendRequest() {
            try {
                await fetch('/friends/add?invited=' + document.getElementById('profile-name').textContent);
                await displayFriendStatus();
            } catch (error) {
                console.error('Error sending friend request:', error);
            }
        }

        async function deleteFriend() {
            try {
                await fetch('/friends/delete-friend?user2=' + document.getElementById('profile-name').textContent);
                await displayFriendStatus();
            } catch (error) {
                console.error('Error deleting friend:', error);
            }
        }

        async function displayFriendStatus() {
            const isFriend = await checkFriendStatus();
            const isFriendRequestSent = await checkFriendRequestStatus();
            const username = document.getElementById('principal-username').textContent;
            const profileName = document.getElementById('profile-name').textContent;

            const invitationBox = document.getElementById('invitation');

            if (username === profileName) {
                invitationBox.innerHTML = `
                    <a class="invite-button" href='/profile/edit'>Edit profile</a>
                `;
            }
            if (isFriend && username !== profileName) {
                invitationBox.innerHTML = `
                    <button class="invite-button" onclick="deleteFriend()">Delete friend</button>
                `;
            } else if (!isFriend && !isFriendRequestSent) {
                invitationBox.innerHTML = `
                    <button class="invite-button" onclick="sendFriendRequest()">Send friend request</button>
                `;
            } else if (!isFriend && isFriendRequestSent) {
                invitationBox.innerHTML = `
                    <button disabled class="invite-button-disabled">Friend invitation sent</button>
                `;
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            displayFriendStatus();
        });
    </script>
</div>

</body>
</html>