<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Scoreboard</title>

    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/invites.css}"/>
    <link rel="stylesheet" th:href="@{/css/popup.css}"/>
    <link rel="stylesheet" th:href="@{/css/scoreboard.css}"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!--    end libs for stomp and sockjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <style th:inline="text">
        body {
            position: relative;
        }

        body::before {
            content: "";
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: url([[@{/img/GamePageBackground.jpg}]]) no-repeat center center fixed;
            filter: brightness(80%);
            z-index: -1;
        }
    </style>

</head>
<body>
    <header class="header">
        <div class="navLeftSide">
            <a th:href="@{'/'}" class="homeContainer" id="homeButton">
                <img class="logo" id="homeLogo" th:src="@{/img/HomeLogo.svg}" alt="">
                <h2 id="title">Spiderweb Home</h2>
            </a>
        </div>

        <div class="navRightSide">
            <button class="friend-requests-button" onclick="openPopUp('friendRequestContainer')">
                <img th:src="@{/img/navbarFriendRequestLogo.svg}">
                <span th:if="${friendRequestCount != 0}" th:text="${friendRequestCount}" class="friend-requests-count"></span>
            </button>
            <button class="inv-button" onclick="openPopUp('invContainer')">
                <img th:src="@{/img/navbarLobbyInviteLogo.svg}">
                <span th:if="${invCount != 0}" th:text="${invCount}" class="inv-count"></span>
            </button>
            <a id="login" class="profile" th:href="@{/profile}">
                <h3 class="username" th:text="${username}"></h3>
                <img class="logo" id="playerLogo" th:src="@{/img/LoginLogo.svg}" alt="">
            </a>
        </div>
    </header>

    <div id="invContainer" class="invites closed">
        <button id="closeInvContainerButton" class="button" onclick="closePopUp('invContainer')">Close</button>
        <h3 th:if="${invCount == 0}" class="invMessage">You do not have any invites</h3>
        <ul>
            <li th:each="inviter : ${invites}">
                <div class="row">
                    <h3 class="invMessage" th:text="${inviter} + '  '"></h3>
                    <h3 class="invMessage">invited you to play</h3>
                    <form action="/lobby/join" method="post">
                        <input type="hidden" name="inviterName" th:value="${inviter}" />
                        <button class="button" type="submit">Join</button>
                    </form> 
                </div>                     
            </li>
        </ul>
    </div>

    <div id="friendRequestContainer" class="friendRequests closed">
        <button id="closeFriendRequestContainerButton" class="button" onclick="closePopUp('friendRequestContainer')">Close</button>
        <h3 th:if="${friendRequestCount == 0}" class="requestMessage">You do not have any invites</h3>
        <ul>
            <li th:each="request : ${friendRequests}">
                <div class="row">
                    <h3 class="requestMessage" th:text="${request} + '  '"></h3>
                    <h3 class="requestMessage"> has sent a friend request</h3>
                    <form th:action="@{/friends/add}" method="post">
                        <input type="hidden" name="invited" th:value="${request}" />
                        <button class="button" type="submit">Accept</button>
                    </form>
                    <form th:action="@{/friends/decline-friend-request}" method="post">
                        <input type="hidden" name="inviter" th:value="${request}" />
                        <button class="button" type="submit">Decline</button>
                    </form> 
                </div>                     
            </li>
        </ul>
    </div>

    <div class="container">
        <h2 class="title">Scoreboard</h2>

        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Games played</th>
                    <th>Steps made</th>
                    <th>Games won</th>                
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td>
                        <a th:href="@{'/profile/' + ${user.username}}" th:text="${user.username}"></a>
                    </td>
                    <td th:text="${user.gamesPlayed}"></td>
                    <td th:text="${user.movesDone}"></td>
                    <td th:text="${user.gamesWon}"></td>
                </tr>
            </tbody>
        </table>
        
    </div>

    <script th:src="@{/js/popup.js}"></script>
    <script th:src="@{/js/navbar.js}"></script>
</body>
</html>