<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Menu - Fly in the web</title>

    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/invites.css}"/>
    <link rel="stylesheet" th:href="@{/css/popup.css}"/>
    <link rel="stylesheet" th:href="@{/css/fly_in_the_web/gameMenu.css}"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!--    end libs for stomp and sockjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    

    <style th:inline="text">
        body {
            position: relative;
        }

        body::before {
            content: "";
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: url([[@{/img/fly_in_the_web/game_background.jpg}]]) no-repeat center center fixed;
            filter: brightness(80%);
            z-index: -1;
        }
    </style>
</head>

<body>

    <nav th:replace="navbar :: navbar"></nav>
    <a th:href="@{/fly-in-the-web}" class="back-button">Back</a>

    <div class="menu" id="gameModeMain">
        <div class="row">
            <a type="button" class="button" id="pvp" th:href="@{/fly-in-the-web/lobby}">Play against a friend</a>
        </div>
        <div class="row">
            <a type="button" class="button" id="pvcomputer" onclick="openPopUp('playVsComputer'); closePopUp('gameModeMain');">Play against computer</a>
        </div>
        <div class="row">
            <a th:href="@{'/'}" type="button" class="button" id="back">Back</a>
        </div>   
    </div>

    <div class="popup closed" id="playVsComputer">
        <a th:href="@{/fly-in-the-web/game/pvs}" type="button" class="button" id="pvs">Play vs Spider</a>
        <a th:href="@{/fly-in-the-web/game/pvf}" type="button" class="button" id="pvf">Play vs Fly</a>
        <a type="button" class="button" id="back" onclick="closePopUp('playVsComputer'); openPopUp('gameModeMain');">Back</a>
    </div>

    <script th:src="@{/js/popup.js}"></script>
</body>
</html>