<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Lobby</title>

    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/invites.css}"/>
    <link rel="stylesheet" th:href="@{/css/fly_in_the_web/lobby.css}"/>
    <link rel="stylesheet" th:href="@{/css/popup.css}"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!--    end libs for stomp and sockjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <style th:inline="text">
        body {
            position: relative;
        }

        body::before {
            content: "";
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: url([[@{/img/fly_in_the_web/game_background.jpg}]]) no-repeat center center fixed;
            filter: brightness(80%);
            z-index: -1;
        }
    </style>

</head>
<body>
    <nav th:replace="navbar :: navbar"></nav>

    <div id="lobby" class="lobby_container">

        <div th:if="${user1InGame}" class="player_container inGame" id="player1">
            <img th:src="@{/img//fly_in_the_web/playerInGameLogo.svg}" alt="Player 1">
            <h1 th:text="${player1}"></h1>
        </div>

        <div th:if="${!user1InGame}" class="player_container ready" id="player1">
            <img th:src="@{/img/fly_in_the_web/LoginLogoBig.svg}" alt="Player 1">
            <h1 th:text="${player1}"></h1>
        </div>



        <a th:if="${player2 != null and !user2InGame}" class="player_container ready" id="player2">
            <img th:src="@{/img/fly_in_the_web/LoginLogoBig.svg}" alt="Player 2">
            <h1 id="player2" th:text="${player2}"></h1>
        </a>

        <a th:if="${user2InGame}" class="player_container inGame" id="player2">
            <img th:src="@{/img/fly_in_the_web/playerInGameLogo.svg}" alt="Player 2">
            <h1 id="player2" th:text="${player2}"></h1>
        </a>

        <a th:if="${player2 == null}" class="player_container null" id="player2" onclick="showInvite()">
            <img th:src="@{/img/fly_in_the_web/invite_user.svg}" alt="Invite a friend">
            <h1 id="player2">Invite a friend</h1>
        </a>
        
    </div>

    <div id="friendlist" class="popup_container closed">
        <ul th:if="${friends != null && !friends.isEmpty()}">
            <li class="row" th:each="friend : ${friends}">
                <span th:text="${friend}"></span>
                <form th:action="@{/fly-in-the-web/lobby/invite}" method="post">
                    <input type="hidden" name="friendUsername" th:value="${friend}" />
                    <button class="button" type="submit">Invite</button>
                </form>   
            </li>
            <button class="button" onclick="closePopUp('friendlist'); openPopUp('lobby');">Close</button>
        </ul>
    
        <div th:if="${friends == null || friends.isEmpty()}">
            <span>You do not have any friends</span>
            <button class="button" onclick="closePopUp('friendlist'); openPopUp('lobby');">Close</button>
        </div>
        
    </div>

    <div th:if="${user1InGame}" class="notReady">
        <h2><span th:text="${player1}"></span> is in-game</h2>
    </div>
    <div th:if="${user2InGame}" class="notReady">
        <h2><span th:text="${player2}"></span> is in-game</h2>
    </div>

    <form th:if="${isReady and player1 == username}" th:action="@{/fly-in-the-web/lobby/start}" method="post">
        <button class="startOrLeaveButton" type="submit">Start Game</button>
    </form>

    <div th:if="${isReady and player2 == username}" class="notReady">
        <h2>Waiting for <span th:text="${player1}"></span> to start the game</h2>
    </div>

    <form th:if="${isReady}" th:action="@{/fly-in-the-web/lobby/leave}" method="post">
        <button class="startOrLeaveButton" type="submit">Leave Lobby</button>
    </form>
    

    <script th:src="@{/js/popup.js}"></script>
    <script th:src="@{/js/lobby.js}"></script>
    
    <script>
        function showInvite() {
            openPopUp('friendlist'); 
            closePopUp('lobby');
        }
    </script>

    
   
</body>
</html>