<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Scoreboard - Fly in the web</title>

    <link rel="stylesheet" th:href="@{/css/fly_in_the_web/scoreboard.css}"/>

    <script th:replace="init :: init"></script>
</head>
<body>
    <nav th:replace="navbar :: navbar"></nav>

    <div class="main-container">
        <h2 class="title">Scoreboard</h2>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Username</th>
                    <th>Games played</th>
                    <th>Steps made</th>
                    <th>Games won</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td class="image-container">
                        <img th:src="@{'/img/avatar/' + ${user.avatar} + '.png'}" />
                    </td>
                    <td>
                        <a th:href="@{'/profile/' + ${user.username}}" th:text="${user.username}"></a>
                    </td>
                    <td th:text="${user.fitwGamesPlayed}"></td>
                    <td th:text="${user.fitwStepsMade}"></td>
                    <td th:text="${user.fitwGamesWon}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>