<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Scoreboard - Fly in the web</title>

    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/popup.css}"/>
    <link rel="stylesheet" th:href="@{/css/fly_in_the_web/scoreboard.css}"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!--    end libs for stomp and sockjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <style th:inline="text">
        body {
            position: relative;
        }

        body::before {
            content: "";
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: url([[@{/img/fly_in_the_web/game_background.jpg}]]) no-repeat center center fixed;
            filter: brightness(80%);
            z-index: -1;
        }
    </style>

</head>
<body>
    <nav th:replace="navbar :: navbar"></nav>
    <a th:href="@{/fly-in-the-web}" class="back-button">Back</a>

    <div class="container">
        <h2 class="title">Scoreboard</h2>

        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Games played</th>
                    <th>Steps made</th>
                    <th>Games won</th>                
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td>
                        <a th:href="@{'/profile/' + ${user.username}}" th:text="${user.username}"></a>
                    </td>
                    <td th:text="${user.gamesPlayed}"></td>
                    <td th:text="${user.movesDone}"></td>
                    <td th:text="${user.gamesWon}"></td>
                </tr>
            </tbody>
        </table>
        
    </div>

    <script th:src="@{/js/popup.js}"></script>
</body>
</html>