<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Play - Fly in the web</title>

    <link rel="stylesheet" th:href="@{/css/fly_in_the_web/gameBoard.css}"/>
    <link rel="stylesheet" th:href="@{/css/fly_in_the_web/gamePage.css}"/>
    
    <script th:replace="init :: init"></script>

    
    <style th:inline="text">
        body {
            position: relative;
        }

        body::before {
            content: "";
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: url([[@{/img/fly_in_the_web/game_background.jpg}]]) no-repeat center center fixed;
            filter: brightness(80%);
            z-index: -1;
        }
    </style>

</head>
<body>
    <nav th:replace="navbar :: navbar"></nav>
    <a th:href="@{/fly-in-the-web/lobby}" class="back-button">Leave game</a>
    
    <div class="gameboard" id="gameboard">
        <canvas id="canvas" width="700" height="700"></canvas>
    </div>

    <div class="popup closed" id="gameOver">
        <h1 id="won"></h1>
        <a class='button' th:href="@{/fly-in-the-web/lobby}">Quit game</a>
    </div>

   <script th:src="@{/js/fly_in_the_web/pvs.js}"></script>
   <script th:src="@{/js/popup.js}"></script>

</body>
</html>