html, body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #1d2671, #c33764);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.container-vertical {
    padding-inline: 10px;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.container-horizontal {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff80;
    border-radius: 10px;
    backdrop-filter: brightness(60%) blur(5px);
}

.back-button {
    position: absolute;
    top: 60px;
    left: 0;
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ffffffd6;
    border-radius: 10px;
    color: #ffffffd6;
    background: #00063e75;
    backdrop-filter: blur(5px);
    transition: all 0.3s;
}

.back-button:hover {
    background: #008cff;
    border: 1px solid #008cff;
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 10px #008cff, 0 0 20px #008cff,
        0 0 50px #008cff;
}



.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container .main-button {
    margin: 20px;
    color: #ffffff;
    backdrop-filter: blur(1px);
    background: #02001f79;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #ffffff80;
    transition: 0.3s ease;
    user-select: none;
    display: inline-block;
}

.button-container .main-button-disabled {
    margin: 20px;
    color: #ffffff;
    backdrop-filter: blur(1px);
    background: #afafaf9c;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: default;
    border: 1px solid #ffffff80;
    user-select: none;
    display: inline-block;
}

.block {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    color: #ffff;
    width: 50%;
    height: 80%;
    backdrop-filter: brightness(60%) blur(5px);
}

.block .not-ingame h3 {
    color: #ffffff80;
}

.block .player-container {
    display: grid;
    grid-template-columns: 1fr auto;
    border-top: 1px solid #ffffff80;
    border-bottom: 1px solid #ffffff80;
}

.block .player-container .info {
    display: inline-flex;
    align-items: center;
}

.block .player-container .info h3 {
    margin-left: 10px;
    margin-right: 30px;
}

.block .swap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.block .swap a {
    width: 30px;
    height: 30px;
    background: #4f0073;
    border: 1px solid #4f0073;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.082);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: all 0.2s;
}

.block ul {
    margin: 0;
    padding: 0;
}

.block ul li {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 1px solid #ffffff80;
}

.block ul li span {
    font-weight: 600;
    color: #ffff;
}

.block ul li .button {
    margin: 10px;
    color: #ffffff;
    backdrop-filter: blur(1px);
    background: #02001f79;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #ffffff80;
    transition: 0.3s ease;
    user-select: none;
    display: inline-block;
}

.block ul li .button-disabled {
    margin: 10px;
    color: #ffffff;
    background: #afafaf9c;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 400;
    cursor: default;
    border: 1px solid #ffffff80;
    user-select: none;
    display: inline-block;
}



.chat-block {
    display: flex;
    flex-direction: column;
    margin-inline: 10px;
    color: #ffff;
    width: 40%;
    max-height: 80vh;
    backdrop-filter: brightness(60%) blur(5px);
    border: 1px solid #ffffff80;
    border-radius: 10px;

    h2 {
        margin-left: 10px;
    }
}

.chat-block .chat-content {
    height: 80%;
    overflow-y: auto;
    margin: 10px;
    box-sizing: border-box;
    border-top: 1px solid #ffffff80;
    border-top-width: 80%;
    scrollbar-width: 0;
}

.chat-block .chat-content::-webkit-scrollbar {
    display: none;
}

.chat-block ul {
    margin: 0;
    padding-left: 5px;
}

.chat-block ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat-block ul li .right-side {
    text-align: right;
}

.chat-block ul li .sender {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 10px;
    margin-inline: 10px;
}

.chat-block ul li .message {
    overflow-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-inline: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.chat-send {
    display: flex;
    align-items: center;
    padding: 10px;
}

.chat-send .input {
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 70%;
}

.chat-send .button {
    color: #ffffff;
    backdrop-filter: blur(1px);
    background: #02001f79;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #ffffff80;
    transition: 0.1s ease;
    user-select: none;
    display: inline-block;
}




.block ul li .button:hover,
.button-container .main-button:hover,
.block ul li .button:focus,
.button-container .main-button:focus,
.block .swap a:hover,
.block .swap a:focus,
.chat-send .button:hover,
.chat-send .button:focus {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff, 0 0 100px #008cff;
}

.hidden {
    display: none;
}
