.navbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, #0f0c29, #282454, #24243e);
    justify-content: space-between;
    border-bottom: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
    margin-bottom: 20px;
}

.nav-left {
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 1%;
    transition: all 0.2s;
}

.nav-left a {
    color: #ffffff80;
    font-family: Franklin Gothic;
    display: flex;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    text-shadow: none;
}

#title {
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 1%;
}

.nav-right .profile {
    border-radius: 20px;
    margin-left: 15px;
    padding-right: 10px;
    padding-left: 10px;
    color: #ffffff80;
    font-family: Franklin Gothic;
    display: flex;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    text-shadow: none;
    transition: all 0.2s;
}

.nav-right .profile .logo {
    margin-left: 5px;
}

.nav-right .dropdown {
    position: relative;
    display: inline-block;
    background: transparent;
}

.nav-right .dropdown .inv-button {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.082);
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #4f0073;
    cursor: pointer;
    transition: all 0.2s;
}

.nav-right .dropdown .inv-button img {
    pointer-events: none;
}

.nav-right .dropdown .inv-button .inv-count {
    display: none;
    position: absolute;
    bottom: -5px;
    right: -5px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    font-size: 0.8em;
    color: rgb(0, 0, 0);
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.nav-right .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(to bottom right, #0f0c29, #282454, #24243e);
    min-width: 400px;
    padding: 10px;
    border: 1px solid #ffffff80;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    right: 0;
}

.nav-right .dropdown .dropdown-content .invMessage,
.nav-right .dropdown .dropdown-content .requestMessage {
    color: #ffffff;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-right .dropdown .dropdown-content .nav-button {
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #160079dc;
    height: fit-content;
    width: fit-content;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #ffffff80;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.nav-right .dropdown .dropdown-content ul {
    list-style: none;
}

.nav-right .dropdown .dropdown-content ul li .row {
    display: inline-flex;
    background: #000329ef;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.nav-right .dropdown .dropdown-content ul li .row .invMessage,
.nav-right .dropdown .dropdown-content ul li .row .requestMessage {
    white-space: nowrap;
    flex-shrink: 0;
    font-family: Arial, Helvetica, sans-serif
}

.nav-left:hover h2 {
    color: #ffffff;
}

.nav-right .profile:hover h3 {
    color: #ffffff;
}

.nav-left:hover,
.nav-right .inv-button:hover,
.nav-right .friend-requests-button:hover,
.nav-right .profile:hover {
    transform: scale(1.1);
    background: #008cff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff, 0 0 100px #008cff;
}

.nav-right .dropdown:hover .dropdown-content {
    display: block;
}

.nav-right .dropdown .dropdown-content .nav-button:hover {
    background: #008cff;
    box-shadow: 0 0 2px #008cff, 0 0 10px #008cff, 0 0 20px #008cff, 0 0 50px #008cff;
    border-color: #008cff;
}
