body {
    background-color: #070053;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid aliceblue;
    border-radius: 20px;
    width: 40vw;
    height: fit-content;
    margin: 10px;
    padding: 20px;
    background: #020023cb;
    backdrop-filter: blur(3px);
}

h1 {
    font-size: 20px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    cursor: pointer;
}

a:hover {
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
}

.alert {
    font-size: 15px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding: 10px;
}

.main-alert-info {
    background-color: #070086dc;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.alert-info {
    background-color: #070086dc;
}

.data {
    margin-top: 25px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
}

.input {
    background-color: #31005b54;
    border-radius: 20px;
    padding: 10px;
    background: aliceblue;
    width: 300px;
}

.loginBox {
    margin-top: 20px;
}

.button {
    color: #ffffff;
    backdrop-filter: blur(1px);
    background: #070086dc;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #ffffff;
    transition: 0.3s ease;
    user-select: none;
    margin-right: 10px;
}

.button:hover,
.button:focus {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff, 0 0 100px #008cff;
}

.loginBox span {
    font-size: 15px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}