<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home</title>
    
    <link rel="stylesheet" th:href="@{/css/addFriend.css}"/>
    <style th:inline="text">
        body {
            background: url([[@{/img/HomePageBackground4k.jpg}]]) no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>

<body>

    <div class="container">
        <h2>Add Friend</h2>
        <form action="#" th:action="@{/friends/add}" th:object="${userFriendsRequestEntity}" method="post">

            <label for="friend">Send a friend invitation:</label>
            <input class="input" type="text" id="friend" name="friends[1]" required><br><br>
            
            <button class="button" type="submit">Add Friend</button>
        </form>
    </div>
    
    
</body>

</html>