<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Game Page</title>
    
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/invites.css}"/>
    <link rel="stylesheet" th:href="@{/css/popup.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!--    end libs for stomp and sockjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


    <style th:inline="text">
        body {
            background: url([[@{/img/main/background.png}]]) no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <nav th:replace="navbar :: navbar"></nav>

    <div class="game-list">
        <a th:href="@{/fly-in-the-web}" class="game" id="fly-in-the-web">
            <div class="img-container">
                <img th:src="@{/img/fly_in_the_web/home_background.jpg}">
            </div>
            <h3>Fly in the web</h3>
        </a>
        <a th:href="@{/tic-tac-toe}" class="game" id="tic-tac-toe">
            <div class="img-container">
                <img th:src="@{/img/tic_tac_toe/tic_tac_toe.jpg}">
            </div>
            <h3>Tic-Tac-Toe</h3>
        </a>
    </div>

    <script th:src="@{/js/popup.js}"></script>
    <script th:src="@{/js/navbar.js}"></script>
    
</body>
</html>