<nav id="navigation-bar" class="navbar" th:fragment="navbar">
    <div class="nav-left">
        <a th:href="@{'/'}" class="homeContainer" id="homeButton">
            <img class="logo" id="homeLogo" th:src="@{/img/navbar/home_logo.svg}" alt="">
            <h2 id="title">Home</h2>
        </a>
    </div>

    <div class="nav-right">
        <div class="dropdown">
            <button class="inv-button" id="friend-request-button">
                <img th:src="@{/img/navbar/friend_invite_logo_small.svg}">
                <span class="inv-count" id="friend-requests-count"></span>
            </button>
            <div id="friendRequestContainer" class="dropdown-content">
                <a th:href="@{/friends}" class="nav-button">See your friendlist</a>
                <h3 id="no-friend-request" class="requestMessage"></h3>
                <ul id="friend-request-list"></ul>
            </div>
        </div>
        <div class="dropdown">
            <button class="inv-button" id="game-invitation-button">
                <img th:src="@{/img/navbar/lobby_logo_small.svg}">
                <span class="inv-count" id="game-invitation-count"></span>
            </button>
            <div id="invContainer" class="dropdown-content">
                <h3 id="no-game-invitation" class="invMessage"></h3>
                <ul id="game-invitation-list"></ul>
            </div>
        </div>
        <a id="login" class="profile" th:href="@{/profile}">
            <h3 id="principal-username" class="username" th:text="${username}"></h3>
            <img class="logo" id="playerLogo" th:src="@{/img/navbar/player_logo_small.svg}">
        </a>
    </div>
</nav>

<script th:src="@{/js/navbar.js}" th:fragment="navbar"></script>