<nav id="navigation-bar" class="header" th:fragment="navbar">
    <div class="navLeftSide">
        <a th:href="@{'/'}" class="homeContainer" id="homeButton">
            <img class="logo" id="homeLogo" th:src="@{/img/navbar/home_logo.svg}" alt="">
            <h2 id="title">Home</h2>
        </a>
    </div>

    <div class="navRightSide">
        <button class="inv-button" onclick="openPopUp('friendRequestContainer')">
            <img th:src="@{/img/navbar/friend_invite_logo_small.svg}">
            <span class="inv-count" id="friend-requests-count"></span>
        </button>
        <button class="inv-button" onclick="openPopUp('invContainer')">
            <img th:src="@{/img/navbar/lobby_logo_small.svg}">
            <span class="inv-count" id="game-invitation-count"></span>
        </button>
        <a id="login" class="profile" th:href="@{/profile}">
            <h3 class="username" th:text="${username}"></h3>
            <img class="logo" id="playerLogo" th:src="@{/img/LoginLogo.svg}" alt="">
        </a>
    </div>
</nav>

<div id="invContainer" class="invites closed" th:fragment="navbar">
    <button id="closeInvContainerButton" class="button" onclick="closePopUp('invContainer')">Close</button>
    <h3 id="no-game-invitation" class="invMessage"></h3>
    <ul id="game-invitation-list">
        
    </ul>
</div>

<div id="friendRequestContainer" class="friendRequests closed" th:fragment="navbar">
    <button id="closeFriendRequestContainerButton" class="button" onclick="closePopUp('friendRequestContainer')">Close</button>
    <a th:href="@{/friends}" class="button">See your friendlist</a>
    <h3 id="no-friend-request" class="requestMessage"></h3>
    <ul id="friend-request-list">
        
    </ul>
</div>

<script th:src="@{/js/navbar.js}" th:fragment="navbar"></script>