html, body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
	font-family: Franklin Gothic;
	font-weight: 200;
    color: #ffffff80;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}

.back-button {
    position: absolute;
    top: 60px;
    left: 0;
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ffffffd6;
    border-radius: 10px;
    color: #ffffffd6;
    background: #00063e75;
    backdrop-filter: blur(5px);
    transition: all 0.3s;
}

.back-button:hover {
    background: #008cff;
    border: 1px solid #008cff;
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 10px #008cff, 0 0 20px #008cff,
        0 0 50px #008cff;
}

a {
	color: #ffffff80;
    font-family: Franklin Gothic;
}

h2 {
    color: #ffffff80;
    font-family: Franklin Gothic;
	padding-left: 5%;
	letter-spacing: 1px;
}


.container {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	margin-top: 10px;
    width: 80%;
    height: fit-content;
    border: 1px solid aliceblue;
    border-radius: 30px;
    overflow: auto;
    scrollbar-width: none;
    
    background: transparent;
    backdrop-filter: blur(20px);
}

.container::-webkit-scrollbar {
	display: none;
}

.friendCount {
	margin: 10px;
}

.button {
	color: #ffffff80;
    backdrop-filter: blur(10px);
    background: transparent;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 400;
    text-shadow: none;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.3s ease;
    user-select: none;
    margin: 10px;
}


table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
    text-align: center;
}

thead {
	th {
		border-bottom: 1px solid aliceblue;
        letter-spacing: 1px;
	}
}

tbody {
	tr {
        border-bottom: 1px solid  aliceblue;
	}
	td {
		position: relative;
	}
}

tbody tr:hover {
	background: #0099ff1c;
}

a {
	text-decoration: none;
}

a:hover {
	color: #ffffff;
	text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
}