<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Lobby - Tic-Tac-Toe</title>

    <link rel="stylesheet" th:href="@{/css/lobby.css}"/>

    <script th:replace="init :: init"></script> 
</head>
<body>
    <nav th:replace="navbar :: navbar"></nav>

    <div class="main-container">
        <div class="container-vertical">
            <div class="container-horizontal">
                <section id="lobby" class="block">
                    <h2>Lobby</h2>
                    <div th:if="${lobby.user1 != null}" class="player-container">
                        <div class="info">
                            <div class="image-container">
                                <img id="lobby_user1_avatar">
                            </div>
                            <h3 id="lobby_user1_name" th:text="${lobby.user1}"></h3>
                            <p th:if="${lobby.primaryPiece == 1}">playing X</p>
                            <p th:if="${lobby.primaryPiece == 2}">playing O</p>
                        </div>
                        <div class="is-ready">
                            <p th:if="${!lobby.isUser1Ready}">Not ready</p>
                            <p th:if="${lobby.isUser1Ready}">Ready</p>    
                        </div>
                    </div>
        
                    <div class="swap">
                        <a th:if="${lobby.user1 == username and !lobby.isUser1Ready and !lobby.isUser2Ready}" th:href="@{/tic-tac-toe/swap-piece}">
                            <img th:src="@{/img/fly_in_the_web/swap_vertical_30px.svg}">
                        </a>
                    </div>
        
                    <div th:if="${lobby.user2 != null}" class="player-container">
                        <div class="info">
                            <div class="image-container">
                                <img id="lobby_user2_avatar">
                            </div>
                            <h3 id="lobby_user2_name" th:text="${lobby.user2}"></h3>
                            <p th:if="${lobby.primaryPiece == 2}">playing X</p>
                            <p th:if="${lobby.primaryPiece == 1}">playing O</p>
                        </div>
                        <div class="is-ready">
                            <p th:if="${!lobby.isUser2Ready}">Not ready</p>
                            <p th:if="${lobby.isUser2Ready}">Ready</p>
                        </div>
                    </div>
                    <div th:if="${lobby.user2 == null}" class="player-container not-ingame">
                        <div class="info">
                            <img th:src="@{/img/player/computer.svg}">
                            <h3>Computer</h3>
                            <p th:if="${lobby.primaryPiece == 2}">playing X</p>
                            <p th:if="${lobby.primaryPiece == 1}">playing O</p>
                        </div>
                        <div class="is-ready">
                            <p>Ready</p>
                        </div>
                    </div>
                </section>
            
                <section id="friends" class="block">
                    <h2>Friends</h2>
                    <ul id="friend-list"></ul>
                </section>
            </div>

            <section id="button-container" class="button-container">
                <a th:href="@{/tic-tac-toe/leave}" class="main-button">Leave Lobby</a>
        
                <a th:if="${lobby.user1 == username and lobby.user2 != null and !lobby.isUser1Ready}" th:href="@{/tic-tac-toe/ready}" class="main-button">Ready</a>
                <a th:if="${lobby.user1 == username and lobby.user2 != null and lobby.isUser1Ready}" th:href="@{/tic-tac-toe/ready}" class="main-button">Unready</a>
        
                <a th:if="${lobby.user2 == username and !lobby.isUser2Ready}" th:href="@{/tic-tac-toe/ready}" class="main-button">Ready</a>
                <a th:if="${lobby.user2 == username and lobby.isUser2Ready}" th:href="@{/tic-tac-toe/ready}" class="main-button">Unready</a>
        
                <a th:if="${lobby.user1 == username and lobby.user2 == null and lobby.primaryPiece == 1}" th:href="@{/tic-tac-toe/game/ai-x}" class="main-button">Play against AI</a>
                <a th:if="${lobby.user1 == username and lobby.user2 == null and lobby.primaryPiece == 2}" th:href="@{/tic-tac-toe/game/ai-o}" class="main-button">Play against AI</a>
                <a th:if="${lobby.user1 == username and isReady}" th:href="@{/tic-tac-toe/start}" class="main-button">Start game</a>
            </section>

        </div>
        
        

        <section class="chat-block">
            <h2>Chat</h2>
            <div class="chat-content">
                <ul id="chat-content"></ul>
            </div>
            <div class="chat-send">
                <input id="message-content" class="input" type="text" placeholder="send a message...">
                <button type="submit" class="button" onclick="sendMessage()">send</button>
            </div>
        </section>

    </div>

    <script th:src="@{/js/tic_tac_toe/lobby.js}"></script>

</body>
</html>